APP_ENV=local

DB_HOST=localhost
DB_PORT=3306
DB_NAME=easyParte
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8

JWT_SECRET=replace_me

CORS_ALLOWED_ORIGINS=http://localhost:4200
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization,X-Requested-With
CORS_ALLOW_CREDENTIALS=false
